/* format clearing, agar seluruh konten html tidak ada gap */
*, 
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    font-size: 4em;
    color: #25d366;
    cursor: pointer;
}

header {
    width: 80%;
    height: 60px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    /* flex untuk row */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.nav-item {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* li sytle hilang */
    list-style-type: none; 
}

.nav-link {
    opacity: .5;
    text-decoration: none;
    transition: .25s;
}

.nav-link:hover {
    opacity: 1;
    transition: .5s;
    transform: translateY(-10%);
}

.nav-icon {
    display: none !important;
}

.nav-text {
    font-weight: bolder;
    color: black;
    transition: .25s;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px; /*penyederhanaan*/
}

.title {
    text-align: center;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.title::after {
    content: "";
    width: 80px;
    height: 6px;
    background-color: tomato;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    margin: 20px;
    min-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.col img {
    width: 100%;
}

footer {
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
}

@media  screen and (max-width: 487px ) {
    /* lakukan responsive code atau untuk liat di versi mobile */
    header {
        width: 100%;
        position: fixed;
        bottom: 16px;
        left: 0;
        z-index: 9;
        padding: 10px;
    }

.nav-list {
    background-color: white;
}

.nav-icon {
    display: block !important;
    font-size: 24px;
    transition: .25s;
    color: black;
}

.nav-icon:hover {
    transition: .5s;
    transform: translateY(-10%);
}

.nav-text {
    display: none;
}

.col {
    flex-basis: 100%;
    text-align: center;
}


}